### 작업1유형

In [2]:
import pandas as pd 
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv")
# df.head()

## 1번 
df['나이대'] = df['age']//10 * 10
print(df["나이대"].value_counts().index[0])

30

답 : 30

In [3]:
## 2번 
df['나이대'] = df['age']//10 * 10
print(df["나이대"].value_counts().values[0])

5056

In [4]:
## 3번 
target = df.loc[(df['age'] >= 25) & (df['age'] < 29) & (df['housing'] == 'yes')]
len(target)

504

In [19]:
# 4번 
target = df.select_dtypes(exclude=int).nunique()
target[target == target.max()].index

Index(['job', 'month'], dtype='object')

In [52]:
## 4번 
# target2 = df.select_dtypes(include=object)
# for col in target2.columns:
#     # print(col, target2[col].nunique())
#     print(col, target2[col].nunique())
#     # print(col)

# df.info()    

lst = []
for col in df.select_dtypes(include=object):
    target = df[col]
    lst.append([col, target.nunique()])
target2 = pd.DataFrame(lst).sort_values(1, ascending=False)
target2[target2[1] == target2[1].max()][0].values

array(['job', 'month'], dtype=object)

In [60]:
# 5번
target = df[df.balance >= df.balance.mean()].sort_values('ID',ascending=False).head(100)
target.balance.mean()

3473.73

In [81]:
# 6번 

# target = df.groupby(['day','month']).size().reset_index().sort_values(0,ascending=False)
# target.iloc[:1,:2]

df[['day','month']].value_counts().index[0]

(15, 'may')

In [22]:
# 7번 정규성검정 귀무가설 정규성 만족 

target = df[df['job'] == 'unknown']
# target
from scipy.stats import shapiro
shapiro(target["age"])[1]
# 귀무가설 채택 정규성을 만족

0.19612720608711243

In [92]:
# 7번

target = df[df['job'] == 'unknown']
# target['age']

# 정규성검정 
from scipy.stats import shapiro
shapiro(target.age)[1]

# print(sklearn.__all__)

0.19612720608711243

In [97]:
# 8번

df[['age','balance']].corr().iloc[0,1]

0.10198734763981462

In [26]:
# 두변수의 독립성 검정 > 카이제곱검정 
target = pd.crosstab(df['y'],df['education'])
target
from scipy.stats import chi2_contingency
chi2_contingency(target)

Chi2ContingencyResult(statistic=133.87601246919445, pvalue=7.901201277473551e-29, dof=3, expected_freq=array([[1300.51592852, 4405.15182595, 2818.93745144,  378.39479409],
       [ 579.48407148, 1962.84817405, 1256.06254856,  168.60520591]]))

In [110]:
v = pd.crosstab(df.y,df.education)
print(v)

education  primary  secondary  tertiary  unknown
y
no            1424       4555      2559      365
yes            456       1813      1516      182

In [115]:
# 9번
# import scipy.stats 
# print(dir(scipy.stats))

target = pd.crosstab(df['y'],df['education'])

from scipy.stats import chi2_contingency
print(chi2_contingency(target)[1])

7.901201277473551e-29

In [27]:
df

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y,나이대
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no,20
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no,20
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no,30
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no,40
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,14023,47,technician,married,secondary,no,1167,yes,no,cellular,30,apr,1,87,5,failure,yes,40
12866,17259,31,unknown,married,secondary,no,111,no,no,cellular,21,nov,2,93,2,failure,yes,30
12867,15200,37,unemployed,single,tertiary,no,1316,yes,no,cellular,18,nov,1,172,2,failure,no,30
12868,13775,42,management,married,tertiary,no,479,yes,no,unknown,28,may,2,-1,0,unknown,no,40
12869,20137,24,services,single,secondary,no,0,no,no,unknown,16,may,1,-1,0,unknown,no,20

In [39]:
target = df.groupby(['job', 'marital']).size().unstack()
target['ratio'] = target['divorced']/target['married']
target.sort_values('ratio',ascending=False)['ratio'][0]

C:\Users\user\AppData\Local\Temp\ipykernel_18036\1306057262.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  target.sort_values('ratio',ascending=False)['ratio'][0]

0.2831050228310502

In [137]:
# 10번
target = df.groupby(['job', 'marital']).size().unstack()
target2 = target['divorced']/target['married']
target2.sort_values(ascending=False)[0]

C:\Users\user\AppData\Local\Temp\ipykernel_13352\1533852998.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  target2.sort_values(ascending=False)[0]

0.2831050228310502