### 1유형

In [65]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [66]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1137 non-null   int64
 1   gender             1137 non-null   object
 2   age                1137 non-null   object
 3   hypertension       1137 non-null   int64
 4   heart_disease      1137 non-null   int64
 5   ever_married       1137 non-null   object
 6   work_type          1137 non-null   object
 7   Residence_type     1137 non-null   object
 8   avg_glucose_level  1137 non-null   float64
 9   bmi                1085 non-null   float64
 10  smoking_status     1137 non-null   object
 11  stroke             1137 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 106.7+ KB
None

In [67]:
# 1 
df['age'] = df['age'].map(lambda x: x.replace("*", ''))
df['age'] = df['age'].astype('int')
df[df['gender'] == 'Male'].age.mean()

44.68623481781376

In [68]:
# 2 
target = df['bmi'].fillna(df['bmi'].median())
round(target.mean(),3)

29.166

In [69]:
# 3 
target = df['bmi'].fillna(method='ffill')
target.mean()

C:\Users\user\AppData\Local\Temp\ipykernel_2264\262795437.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  target = df['bmi'].fillna(method='ffill')

29.1882145998241

In [70]:
# 4 
df['나이대'] = df['age']//10*10

In [71]:
mean = df[df.bmi.notnull()].groupby('나이대').bmi.mean()
dic = {x:y for x,y in mean.items()}
dic

idx = df.loc[df.bmi.isnull(),['age','bmi']].index
# df.loc[df.bmi.isnull()]['나이대'].map(lambda x: dic[x])
df.loc[idx,'bmi'] = df.loc[df.bmi.isnull()]['나이대'].map(lambda x: dic[x])

result = df.bmi.mean()
result

29.2627029367386

In [74]:
# 5번 
idx = df[df['avg_glucose_level'] >= 200].index
df.loc[idx,'avg_glucose_level'] = 199

In [79]:
round(df[df['stroke'] == 1]['avg_glucose_level'].mean(),3)

125.188

### 작업1유형 - 2

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
# 6 

# df.head()
target = df.sort_values('Attack', ascending=False)
target.head(400).Legendary.sum() - target.tail(400).Legendary.sum()

57

In [5]:
# 7 
target = df.groupby('Type 1').Total.mean()
target.sort_values(ascending=False).index[2]

'Flying'

In [10]:
# 8 
target = df.dropna()
target[:int(len(target)*0.6)]['Defense'].quantile(0.25)

50.0

In [21]:
# 9
target = df[df['Type 1'] == 'Fire']
m = target.Attack.mean()
target_m = df[df.Attack >= m]
len(target_m[target_m['Type 1'] == 'Water'])

37

In [22]:
# 10
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [32]:
df['d'] = abs(df['Speed'] - df["Defense"])
df.sort_values('d', ascending=False).Generation.values[0]

2

In [33]:
df.groupby(['Generation'])[['Speed','Defense']].mean().T.diff().T

            Speed    Defense
Generation
1             NaN  -1.722892
2             NaN  11.575472
3             NaN   7.175000
4             NaN   6.793388
5             NaN   4.248485
6             NaN  10.243902